/*generic*/
body{
    font-family: 'Amatic SC', cursive;
    font-size: 14px;
}
a{
    text-decoration: none;
    color:inherit; 
}
li a{
    color: #767676;
    font-family: 'Roboto', sans-serif;
}
/***********************typography*****************/
h1{
    font-size: 4em;
    margin-top: 0px;
    margin-bottom: 0px;
}
/***********************custom*********************/
.row{
    margin-left: 0px;
    margin-right: 0px;

}
.col-md-3,.col-md-4,.col-md-6,.col-md-12,.col-xs-12{
    padding-left: 0px;
    padding-right: 0px;
}
/***********************styles*********************/
.ab-header{
    border-bottom: 1px solid #767676;
    min-height: 5em;
    vertical-align: middle;
    line-height: 5em;
}

.ab-header-search-box{
    display: inline-block;
    left: 30px;
    position: absolute;
    /*top: 30px;*/
}
@media (max-width: 760px){
    .ab-header-search-box{
        display: none;
    }
}
.search-form{
    border: 1px solid #ffffff;
    position: relative;
    display: inline-block;
    zoom: 1;
}
.search-form input[type="text"] {
    border: none;
    background: transparent;
    padding: 11px 10px 11px 30px;
    width: 210px;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    color: #000;
    font-family: 'Roboto', sans-serif;
}
.ab-header-search{
    position: relative;
    left: 25px;
}
.ab-header-social-links{
    padding-left: 5px;
}
.cart-styling{
    font-family: 'Roboto', sans-serif;
    margin: 25px;
    
}
.cart-box{
    border: 1px solid #767676;
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
    margin: 25px 2px;
}


