<div class="row ab-header" ng-repeat="item in items">
        <div class="col-md-4 col-xs-12">
          <center>
            <div class = "form-group ab-header-search-box">
              <form class="search-form">
                <i class="fa fa-search ab-header-search"></i>
                  <input type = "text" name="q" placeholder = {{item.placeholder}}>
                </form>
              </div>
            </center>
          </div>
        <div class="col-md-4 col-xs-12"><h1><center>{{item.header}}</center></h1></div>
      <div class="col-md-2 col-xs-12">
        <center>
              <a href="#"><i class="fa fa-facebook ab-header-social-links"></i></a>
            <a href="#"><i class="fa fa-twitter ab-header-social-links"></i></a>
            <a href="#"><i class="fa fa-pinterest-p ab-header-social-links"></i></a>
            <a href="#"><i class="fa fa-google-plus ab-header-social-links"></i></a>
            <a href="#"><i class="fa fa-instagram ab-header-social-links"></i></a>
              <a href="#"><i class="fa fa-tumblr ab-header-social-links"></i></a>
        </center>
      </div>
        <div class="col-md-2 col-xs-12 ab-header-social-links " ng-repeat="currency in item.currencies">
          <center>
            <span class="cart-styling"><b>CART(0)</b>
              <strong class="cart-box">{{currency.label}}</strong>
            </span>
          </center> 
        </div>       
</div>    














<!--<div class="row ab-header" ng-repeat="item in items">
<div class="col-md-4 col-xs-12">
  <center>
    <div class = "form-group ab-header-search-box">
      <form class="search-form">
        <i class="fa fa-search ab-header-content"></i>
        <input type = "text" name="q" placeholder = {{item.placeholder}}>
        <input type="submit" value="->" style="display:block">
      </form>
      <div class="results-block" style="display:block"></div>
  </center>
  </div>
  <div class="col-md-4 col-xs-12">
    <h1>
      <center>{{item.header}}</center>
    </h1>
  </div>
  <div class="col-md-2 col-xs-12">
    <center>
      <a><i class="fa fa-facebook ab-header-social-links"></i></a>
      <a href="#"><i class="fa fa-twitter ab-header-social-links"></i></a>
      <a href="#"><i class="fa fa-pinterest-p ab-header-social-links"></i></a>
      <a href="#"><i class="fa fa-google-plus ab-header-social-links"></i></a>
      <a href="#"><i class="fa fa-instagram ab-header-social-links"></i></a>
      <a href="#"><i class="fa fa-tumblr ab-header-social-links"></i></a>
    </center>
  </div>
  <div class="col-md-2 col-xs-12 ab-header-social-links" ng-repeat="currency in item.currencies">
    <center>
      <span class="cart-styling">
        <b>CART(0)</b>
        <strong class="cart-box">{{currency.label}}</strong>
        <!--	<span class="details">
          <b>PICK A CURRENCY</b>
          <form role = "form">
           	<div class = "form-group">
            		<select class = "form-control">
                <option>GBP</option>
                <option>CSD</option>
                <option>USD</option>
            </select>
            		</div>
            	</form>
          </span>
      </span>
    </center>
  </div>
</div>-->