<div class="row ab-header">
  <div class="col-md-4 col-xs-12">
    <center class="search-box">
      <input type="text" placeholder="Search Items">
    </center>
    </div>
    <div class="col-md-4 col-xs-12">
      <h1 class="product-title">
        <center>{{ header }}</center>
      </h1>
    </div>
    <div class="col-md-2 col-xs-12">
      <center>
        <a ng-href="{{ item.url }}" ng-repeat="item in social">
          <i class="fa {{ item.icon }} social-link"></i>
        </a>
      </center>
    </div>
    <div class="col-md-2 col-xs-12">
      <center>
        <span class="ab-cart">
          <b>CART({{ cart.items.length }})</b>
          <select>
            <option
              ng-repeat="item in currencies"
              value="label"
              ng-selected="item.selected">
              {{ item.label }}
            </option>
          </select>
        </span>
      </center>
    </div>
  </div>
</div>
