.ab-header {
	border-bottom: 1px solid #767676;
    padding: 15px 0;
    display: flex;
    align-items: center;

    .product-title {
        margin-top: 0;
        margin-bottom: 0;
    }

    select {
        max-width: 60px;
    }

    
}

@media (max-width: 768px) { 
    .ab-header {
        display: block;

        .search-box {
            display: none;
        }    

        .ab-cart {
            display: none;
        }
    }
}