<md-content layout-padding class="semiwidth">
  <form name="registerForm" novalidate>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>First Name</label>
        <input type="text" required name="firstname" ng-model="vm.user.firstname" required/>
        <div ng-messages="registerForm.firstname.$error">
          <div ng-message="required">First name is required.</div>
        </div>
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Last Name</label>
        <input type="text" required name="lastname" ng-model="vm.user.lastname" required/>
        <div ng-messages="registerForm.lastname.$error">
          <div ng-message="required">Last name is required.</div>
        </div>
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Email</label>
        <input type="email" required name="email" ng-model="vm.user.email" required/>
        <div ng-messages="registerForm.email.$error">
          <div ng-message="required">Email is required.</div>
        </div>
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
      <label>Password </label>
      <input  type="password" name="password" ng-model="vm.user.password" required />
      <div ng-messages="registerForm.password.$error">
        <div ng-message="required">Password is required .</div>
      </div>
      </md-input-container>
    </div>
    <md-button class="md-raised md-primary" ng-click="vm.register()" ng-disabled="!registerForm.$valid">Register</md-button>
    <md-button class="md-raised md-primary" ng-click="vm.hide()" >cancel</md-button>
  </form>
</md-content>
