<div class="ab-product-footer">
	<div class="row row-position">
	 	<div class="col-md-4 col-xs-12">
	 		<p class="footer-headings">CONNECT WITH US</p>
	 		<hr>
	 		<span>
	 			<a ng-href="{{ item.url }}" ng-repeat="item in social">
	 				<i class="fa {{ item.icon }} fa-2x social-link link-alignment"></i>
 				</a>
	 		</span>
	  	</div>
		 	<div class="col-md-4 col-xs-12">
		 		<P class="footer-headings">{{ productName }}</P>
		 		<hr>
	  	 	<div class="col-md-6 col-xs-6">
	  	 		<ul class="ab-ulist">
		  	 		<a href="#"><li>About us</li></a>
		  	 		<a href="#"><li>Carees @ {{ productName }}</li></a>
		  	 		<a href="#"><li>Blog</li></a>
	  	 		</ul>
	  	 	</div>
	  	 	<div class="col-md-6 col-xs-6">
	  	 		<ul class="ab-ulist">
	  	 			<a href="#"><li>Press Coverage</li></a>
	  	 			<a href="#"><li>Team</li></a>
	  	 		</ul>
	  	 	</div>
		 	</div>
		 	<div class="col-md-4 col-xs-12">
		 		<P class="footer-headings">NEED HELP ?</P>
		 		<hr>
	  	 	<div class="col-md-6 col-xs-6">
	  	 		<ul class="ab-ulist">
	  	 			<a href="#"><li>Privacy Policy</li></a>
	  	 			<a href="#"><li>Payment & Security</li></a>
	  	 			<a href="#"><li>Shipping & Delivery</li></a>
	  	 			<a href="#"><li>Terms of Use</li></a>
	  	 		</ul>
	  	 	</div>
	  	 	<div class="col-md-6 col-xs-6">
	  	 		<ul class="ab-ulist">
	  	 			<a href="#"><li>Terms of Offer for Sale</li></a>
	  	 			<a href="#"><li>No Worries</li></a>
	  	 			<a href="#"><li>EMI on Credit Cards</li></a>
	  	 		</ul>
	  	 	</div>
		 	</div>
	</div> 
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<div class="footer-end">
			Delivering in: <span ng-repeat="city in cities"> {{ city }} | </span>
			</div>
		</div>
	</div>
</div>