.ab-nav-header {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    background-color: #caced5;

    .sub-header{
        display: inline-flex;
        position: absolute;
        justify-content: center;menubar-alignmenmenubar-alignment
        top: 60px;
        width: 100%;
        left: 0;
         background-color: #b7b7c2;
    }

    .breadcrumbs{
        padding: 20px;
    }
    .navbar-toggle {
        position: relative;
        float: left;
        padding: 9px 10px;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #e7e7e7;
        padding: 0;
    }
}

@media (min-width: 100px) and (max-width: 768px) {
    .ab-nav-header{
        display: block;
        width: 100%;
        text-align: left;

        .sub-header{
            display: block;
            position: inherit;
            width: 100%;
            text-align: left;
            text-indent: 50px;
        }
    }
    .ab-nav-header .breadcrumbs{
        padding: 10px 0;
    }
}
