
<body ng-app="navHeaderSample">
<nav>
	<div menu="menu" ng-controller="navHeaderSampleCtrl">
    <script type="text/ng-template" id="categoryTree">
        {{ category.title }}
        <ul ng-if="category.categories">
            <li class = "active"ng-repeat="category in category.categories" ng-include="'categoryTree'">           
            </li>
        </ul>
    </script>
    <ul>
        <li ng-repeat="category in categories" ng-include="'categoryTree'"></li>
    </ul>  
	</div>
</nav>
</body>
